.steps__button-block {
  display: flex;
  align-items: flex-end;
}

@media (min-width: 1270px) {
  .steps__button-block {
    position: absolute;
    bottom: 0;
    right: -94px;
  }
}
@media (max-width: 601px) {
  .steps__button-block {
    flex-direction: column;
    align-items: center;
  }
}
