.formula__content > .formula__cacao-img {
  position: absolute;
  top: 90px;
  display: block;
}

@media (max-width: 1180px) {
  .formula__content > .formula__cacao-img {
    transition: all 0.3s ease;
    top: 120px;
    left: -87px;
  }
}
