.format__center-block {
  background-image: url("@images/format/staff-bg.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 46px;
  padding-bottom: 80px;
  position: relative;
}
