.format__staff-el01 {
  width: 322px;
}

.format__staff-el02 {
  margin-right: 76px;
  margin-top: 83px;
  width: 320px;
}

.format__staff-el03 {
  width: 325px;
}

.format__staff-el04 {
  margin-top: 72px;
  width: 366px;
}

@media (max-width: 1050px) {
  .format__staff-el01 {
    max-width: 225px;
  }

  .format__staff-el02 {
    margin-right: 10px;
    max-width: 225px;
  }

  .format__staff-el03 {
    max-width: 230px;
  }

  .format__staff-el04 {
    max-width: 255px;
    margin-top: 80px;

    margin-right: -40px;
    margin-left: -30px;
  }
}

.format__staff-list-slider .format__staff-el {
  user-select: none;
}
