.footer__logo {
  margin-bottom: 42px;
  width: 120px;
}

.footer__logo img {
  width: 100%;
}

@media (max-width: 970px) {
  .footer__logo {
    margin-bottom: 42px;
    width: 100px;
    margin-bottom: 20px;
  }
}
