.expedition__card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 143px;
  column-gap: 5px;
  row-gap: 10px;
}

.expedition__card-asia .expedition__card-list {
  row-gap: 40px;
}

@media (max-width: 601px) {
  .expedition__card-list {
    max-height: fit-content;
  }
}
