.section-top__title {
  font-weight: 700;
  font-size: max(30px, min(48px, 6.2vw));
  /* font-size: 48px; */
  line-height: 115%;
  max-width: 718px;
  color: #fff;
  padding-bottom: 40px;
}

.section-top__title-br {
  display: block;
}

@media (max-width: 601px) {
  .section-top__title {
    font-size: 24px;
    letter-spacing: -0.1px;
    padding-bottom: 20px;
  }
  .section-top__title-br {
    display: inline;
  }
}
